*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Struttura per dividere in blocchi */
body{    
    width: 1000px;
    margin: auto;
}
.container::after{
    content: "";
    display: table;
    clear: both;
}
header{
    border-radius: 10px;
}
section{
    height: 400px;
    margin: 10px 0 10px 0;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position-y: center;
    border-radius: 10px;
}
main{
    height: 475px;
    background-color: blue;
}
main div{
    background-color: lightskyblue;
}
#libero{
    height: 15%;
    margin-bottom: 1%;
}
.A{
    width: 20%;
    display: inline-block;
    float: left;
    height: 80%;
    margin-bottom: 1%;
}
.B{
    display: inline-block;
    float: left;
    margin: 0 1% 11% 1%;
    width: 58%;
    height: 80%;
}
footer{
    height: 100px;
    background-color: purple;
    margin-top: 10px;
}
/* Struttura per lavorare sui contenuti */
header img{
    height: 60px;
    padding-right: 30px;
    border-right: 1px solid lightgrey;
}
header nav{
    height: 30px;
    margin: 15px 0 15px 0;
}
header nav ul li{
    display: inline;
    color: lightgrey;   
}
.distanziamento{
    padding: 0 5px 0 5px;
}
section div{
    width: 500px;
    color: white;
}
.contenuto{
    padding: 180px 50px;
}